{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}KEstudiar - Estudiante{% endblock titulo %}
{% block body %}
<body>
	<header>
		<h1>
      <a href={% url 'home' %}>
				<img src="{% static 'core/img/logoKE.png' %}" alt="logoKE.jpg">
			</a>
			<a id="imagen">
				<img src="{% static 'core/img/banner.jpg' %}" alt="banner"/>
			</a>
		</h1>
	</header>
	<section id="titulo">
		<p>Registro de Estudiantes</p>
	</section>
	<section id="presentacion">
		<p>
			El registro es muy importante para que podamos auydarte de mejor manera y en función de tu perfil a encontrar los que estas buscando, asi como para poder informarte cuando una nueva propuesta educativa se adapte a ti.
		</p>
	</section>
	<section id="formReg">
		<form action="" id="registroEst" method="POST">
			{% csrf_token %}
			<label for="Nombre">Nombre</label>
			<input type="text" placeholder="Nombre" name="txtNombre">
			<label for="Pais">País</label>
				<p></p>
				<select id="cpais" name="cboPais">
				{% for p in paises %}
				<option value={{ p.id }}>{{p.nombre}}</option>
				{% endfor %}
			</select>
			<hr size="1" color = "#f49405"></hr>
			<p></p>
			<label for="Departamento">Departamento</label>
				<p></p>
				<select id="cdepartamento" name="cboDepartamento">
				{% for d in departamentos %}
				<option value={{ d.id }}>{{d.nombre}}</option>
				{% endfor %}
			</select>
			<hr size="1" color = "#f49405"></hr>
			<p></p>
			<label for="Ciudad">Ciudad</label>
				<p></p>
				<select id="cciudad" name="cboCiudad">
				{% for c in ciudades %}
				<option value={{ c.id }}>{{c.nombre}}</option>
				{% endfor %}
			</select>
			<hr size="1" color = "#f49405"></hr>
			<p></p>
			<label for="Telefono">Teléfono</label>
			<input type="text" placeholder="Telefono" name="txtTelefono">
			<label for="Mail">Correo elecrónico</label>
			<input type="email" placeholder="Mail" name="txtMail">
			<label for="Estudios">Nivel de estudios</label>
				<select id="estudios" name="cboNivel">
				{% for n in niveles %}
				<option value={{ n.id }}>{{n.nombre}}</option>
				{% endfor %}
			</select>
			<hr size="1" color = "#f49405"></hr>
			<p></p>
			<label for="Usuario">Nombre de usuario</label>
			<input type="text" placeholder="txtUsuario" name="txtUsuario">
			<label for="Contrasena">Contraseña</label>
			<input type="password" placeholder="Contrasena" name="txtPassword">
			<p>Estoy de acuerdo con los <a href="#">Términos y condiciones</a></p>
			<input type="submit" name="btnGuardar" value="Guardar registro">
		</form>
	</section>
	<h3>{{ mensaje }}</h3>
	<footer>
		<p>Desarrollado por TecnoIdeas - ©Todos los derechos reservados</p>
	</footer>
</body>
{% endblock body %}
